#root{
    margin: 0;
    padding: 0;
}

body{
    display: inline-block;
}

#header-h1{
    color: blue;
    text-align: center;
}

.paragraph-p1{
        text-align: center;
        font-weight: 700;
}

.logo{
    width: 30%;
}

nav{
    background-color:antiquewhite;
}

.navbar{
    color: rgb(10, 12, 112);
}
button{
    color: black;
    background-color: blue;
    
}
.error{
    color: red;
}
